<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95001871134-b465s5ecs90842udf1s1i2uqh9fs2ar2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95001871134-b465s5ecs90842udf1s1i2uqh9fs2ar2</string>
	<key>API_KEY</key>
	<string>AIzaSyAMLZKedvTN9OrusuwQR-p4LYPT0x-cG9o</string>
	<key>GCM_SENDER_ID</key>
	<string>95001871134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RaulDev.AutoRevista</string>
	<key>PROJECT_ID</key>
	<string>auto-revista</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-revista.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95001871134:ios:272e9883f3d8350d60bf0f</string>
</dict>
</plist>